In [ ]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# allow import of config file from 2 directories above
sys.path.append(os.path.abspath("../"))


if os.environ.get("RUNNING_IN_DOCKER"):
    import config_docker as config
else:
    import config_local_docker as config


from sqlalchemy import create_engine, text

#print(f"DB_HOST: {config.DB_HOST}")

connection_url = (
    f"postgresql://{config.DB_USER}:{config.DB_PASSWORD}"
    f"@{config.DB_HOST}:{config.DB_PORT}/{config.DB_NAME}"
)
print(f"-- connection_url: {connection_url}")
engine = create_engine(connection_url)
conn = engine.connect()

print("Connected!")

you are using macbook
DB_HOST: localhost
-- connection_url: postgresql://postgres:postgres@localhost:5450/ai_rental_db
Connected!

In [2]:
pd.read_sql("SELECT COUNT(*) FROM customer;", conn)

   count
0    600