In [1]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

# allow import of config file from 2 directories above
sys.path.append(os.path.abspath("../"))

import config_local_docker as config
from sqlalchemy import create_engine, text

connection_url = (
    f"postgresql://{config.DB_USER}:{config.DB_PASSWORD}"
    f"@{config.DB_HOST}:{config.DB_PORT}/{config.DB_NAME}"
)

engine = create_engine(connection_url)
conn = engine.connect()

print("Connected!")

Connected!

In [2]:
pd.read_sql("SELECT COUNT(*) FROM customer;", conn)

   count
0    600